[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "2.2.3"
boto3 = "1.37.1"
prefect = "3.3.5"
awswrangler = "3.11.0"
pydantic = "2.11.3"
mlflow = "2.21.3"
xgboost = "3.0.0"
psycopg2-binary = "2.9.10"
evidently = "0.6.5"

[dev-packages]
pylint = "3.3.7"
black = "25.1.0"
isort = "6.0.1"
jupyter = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
