[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
toolz = "*"
pandas = "*"
mlflow = "*"
pydantic = "*"
boto3 = "*"
strictyaml = "*"
prefect = "*"
seaborn = "*"
xgboost = "*"
optuna = "*"

[dev-packages]
mlcroissant = "*"
pyarrow = "*"
s3fs = "*"
awswrangler = "*"
isort = "*"
black = "*"
pylint = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.11"
